.shadowfort {
    box-shadow: 0px 7px 15px -3px rgb(0, 39, 59);
}

.border-d{
    border: 2px solid #207650;
    padding: 2vh;
    background: rgba(85, 151, 122, 0.15);
    border-radius: 42vh;
    margin-right: 8vh;
    margin-left: 8vh;
    padding: 5vh;
}
.displayNone{
  display: none;
}
.espace{
    margin-right: 15vh;
    margin-left: 15vh;
}

.grosBtn{
    font-size: 18px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #207650;
}
.correct {
    color: green;
}

.incorrect {
    color: red;
}